# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Editor/IDE stuff
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# uv-managed virtual environments
.venv/

# Packaging and build artifacts
*.egg-info/
*.egg
dist/
build/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache/
.pytest_cache/
coverage.xml
nosetests.xml
test-results.xml

# MyPy and other linters
.mypy_cache/
.dmypy.json
.pyre/

# Jupyter notebooks
.ipynb_checkpoints/

# Local config files
*.env
*.toml.user

# Ruff cache
.ruff_cache/